<div class="container mx-auto flex flex-col md:items-center justify-center min-h-[80vh] px-4 animation">
    <div class="flex align-middle items-center justify-center">
        <p >
        IMPORTANT
        By commissioning me, you automatically agree to the following terms of service. Please read them carefully.
        </p>
    </div>
<p>
<p>
GENERAL
I can reject your request if I don't feel comfortable or if I find myself unable to draw it.
You must send me images of references, descriptions, color palette and anything you think is necessary to fully understand your commission before starting.
</p>

CAN DRAW: Human-like characters (Female/non muscular man), Kemonomimi (Animal ears/tails, horns, non complex wings), Some types of material. (Glass/crystal, simple water, wood, soft metal ok), Light armor, Little animals, pets.


CAN'T DRAW: Old/muscle people, Furry, Mecha/robots, Complex or heavy armors, Gore, Realistic art, NSFW.


PAYMENTS
Commission payment must be submitted in full prior to the start of the sketch.If you need the commission to be completed by a specific date, tell me before making the payment. This way I can confirm if it is possible or not.Rushing a commission has +50% fee.Rush commissions have priority in the commission list.Otherwise the order of the commissions will be first come first take.


REVISIONS
Unlimited revisions during the sketch. After this there will be no more revisions.


DEADLINES AND DELIVERY
The delivery time will depend on your type of commission, the number of drawings (emotes) and complexity.


From one to two weeks for chibis.
Two or three weeks for the emotes (Depending on your quantity it may increase).Two to four weeks on regular commissions.


In any case, I will notify you in advance of any inconvenience that may arise in the process of your commission.


I'll be sending you progress while I'm working on your commission, please be patient, I usually take short breaks due to my health.


USE
Free use on your social networks, this includes streaming.
If you want the commercial rights of the illustration we can reach an agreement, otherwise you can NOT commercial with the illustration.




INTELLECTUAL PROPERTY RIGHTS
You may not copy, trace, or edit any of my commissions, nor claim ownership of them.
You may not sell my illustrations. If you wish to do so, we can reach an agreement to give you the commercial rights.The use and processing of my illustrations with AI or any form of NFT is prohibited.


REFUNDS
Refunds will not be accepted unless an inconvenience has arisen on my part, this includes not being able to finish your commission. I will contact you to reach an agreement.


Keep in mind that the value reimbursed will depend on the amount of work that I have done in your commission.


COMMUNICATION
I'll be sending you regular previews of your commission process as soon as I can.


Keep in mind that I usually take short breaks for my health, please be patient.

</p>
</div>