---

---
<footer class="w-full bg-[#343436] py-8">
    <div class="container mx-auto flex flex-col items-center gap-4">
        <!-- Social Icons -->
        <div class="flex gap-6">
            
            <a href="#" class="text-white hover:text-purple-200 transition-colors">
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/twitterx--v2.png" alt="twitterx--v2"/>
            </a>
            <a href="#" class="text-white hover:text-purple-200 transition-colors">
                <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/twitch.png" alt="twitch"/>
            </a>
        </div>

        <!-- Copyright Text -->
        <div class="text-white text-center">
            <p>© 2025. Made by Francisco Luna.</p>
        </div>
    </div>
</footer>