---
import "../styles/global.css";
---
<header class="w-full bg-purple-300/40 py-8">
    <nav class="container mx-auto">
        <ul class="flex items-center justify-center space-x-2 text-white text-lg font-medium">
            <li><a href="/" class="hover:text-purple-200 transition-colors">HOME</a></li>
            <li class="text-white">|</li>
            <li><a href="/commission" class="hover:text-purple-200 transition-colors">COMMISSION</a></li>
            <li class="text-white">|</li>
            <li><a href="/tos" class="hover:text-purple-200 transition-colors">TOS</a></li>
            <li class="text-white">|</li>
            <li><a href="/order" class="hover:text-purple-200 transition-colors">ORDER</a></li>
            <li class="text-white">|</li>
            <li><a href="/pay-to-use" class="hover:text-purple-200 transition-colors">PAY TO USE</a></li>
        </ul>
    </nav>
</header>