---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';

import "../styles/global.css";

import faceImage from '../assets/face.png';
---
<div class="flex flex-row bg-amber-200 items-center justify-center min-h-screen p-8">
    <div class="w-1/2 flex flex-row items-center justify-end pr-8">
        <img src={faceImage.src} style="border-radius: 50%;" width="60%" alt="A bird sitting on a nest of eggs." />
    </div>
    <div class="w-1/2 flex flex-col justify-center pl-8">
        <p class="max-w-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quam eligendi et reiciendis harum doloribus quae amet totam quo 
            distinctio explicabo consectetur iste quos nesciunt ut tempore, nulla dolorum est!</p>
    </div>
</div>
<div>---------------</div>
<div class="flex flex-col bg-amber-200 items-center justify-center  p-8">
    <div class=" flex flex-col justify-center ">
        <p class="max-w-lg">Aqui puedes ver mis comisiones y etc</p>
    </div>
	
	<button class="group relative h-12 overflow-hidden overflow-x-hidden rounded-md bg-green-600 px-8 py-2 text-neutral-50"><span class="relative z-10">VGEN</span><span class="absolute inset-0 overflow-hidden rounded-md"><span class="absolute left-0 aspect-square w-full origin-center -translate-x-full rounded-full bg-pink-300 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150"></span></span></button>
</div>